body {
  font-family: sans-serif;
  background: #eee; }

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

.messages {
  display: block;
  border: 1px solid gray;
  width: 100%;
  min-height: 100px; }

a {
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
  border: 1px solid gray;
  line-height: 100%; }

input {
  width: 360px;
  line-height: 100%;
  font-size: 14px;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid gray; }
