/* line 1, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
body {
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-weight: 300;
  background: #eee; }

/* line 6, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
h1 {
  color: #999;
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: #e67e22; }

/* line 13, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
.logo img {
  max-width: 519px;
  width: 100%; }

/* line 17, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
hr {
  border: 1px solid #eee; }

/* line 20, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
.wrapper {
  width: 100%;
  max-width: 720px;
  margin: 0 auto; }

/* line 25, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
.logo {
  padding: 50px 0 75px 0;
  text-align: center; }

/* line 29, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
.logo-main {
  display: block;
  margin: 0 auto; }

/* line 33, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
.messages {
  padding: 15px;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  background: #fff;
  width: 95%;
  min-height: 200px;
  overflow: auto;
  box-shadow: 3px 3px 5px #ddd;
  position: relative;
  z-index: 1000;
  vertical-align: 40px; }

/* line 47, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
.cat-container {
  position: relative; }

/* line 50, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
.cat {
  cursor: pointer;
  position: absolute;
  left: 480px;
  bottom: 0px;
  z-index: 1;
  transition: bottom 10s linear;
  -webkit-transition: bottom 10s linear; }

/* line 59, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
.cat:hover {
  bottom: 100px; }

/* line 62, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
a.send {
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
  border: none;
  height: 25px;
  line-height: 25px;
  background: #2ecc71;
  border-radius: 7px;
  color: #fff;
  vertical-align: middle;
  border-bottom: 5px solid #27ae60; }

/* line 75, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
input {
  color: #666;
  margin: 0px 15px 15px 0;
  max-width: 360px;
  width: 95%;
  line-height: 30px;
  height: 30px;
  font-size: 14px;
  display: inline-block;
  padding: 5px 15px;
  border: none;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e67e22;
  transition: box-shadow 0.3s ease-in-out;
  -webkit-transition: box-shadow 0.3s ease-in-out; }

/* line 92, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
input[type=text]:focus {
  box-shadow: 0 0 5px #e67e22;
  border: 1px solid #e67e22; }

/* line 96, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
.chat {
  position: relative;
  margin-top: 15px; }

/* line 100, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
#smile {
  margin-right: 10px;
  float: left;
  display: inline-block; }

/* line 105, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
#smile img {
  cursor: pointer;
  width: 40px;
  transform: scale 1, 1;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out; }

/* line 112, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
#smile img:hover {
  transform: scale(1.1, 1.1); }

/* line 115, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
.emoji {
  display: none;
  max-width: 150px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 7px;
  box-shadow: 3px 3px 5px #ddd;
  background: #fff;
  position: absolute;
  right: 736px;
  bottom: 16px; }

/* line 127, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
.emoji img {
  opacity: 0.7;
  width: 40px;
  padding: 5px;
  cursor: pointer;
  transform: scale 1, 1;
  transition: transform 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out; }

/* line 136, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
.emoji img:hover {
  opacity: 1;
  transform: scale(1.1, 1.1); }

/* line 140, /Users/williamd/Desktop/chatroom-boilerplate/src/assets/styles/index.sass */
.small-emoji {
  width: 25px; }
