doctype html
html

  head

    meta(charset="utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Hello World

    meta(name="description", content="Hello World")

    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

    link(rel="stylesheet", href="assets/styles/main.css", type="text/css")

  body

  .wrapper

    div.logo

        img(src="assets/images/logo.png" class="logo-main")

        h1 Connect with anyone and start chatting!

    div.messages

    div.cat-container
        img(src="assets/images/cat.png" class="cat")

    div.chat

        a(id="smile")
            img(src="assets/images/1f604.png")

        div.emoji
            img(src="assets/images/1f637.png" class="sick") 
            img(src="assets/images/1f621.png" class=">:(") 
            img(src="assets/images/1f613.png" class=":/") 
            img(src="assets/images/1f609.png" class=";D") 
            img(src="assets/images/1f604.png" class=":)") 
            img(src="assets/images/1f603.png" class='=)') 
            img(src="assets/images/1f601.png" class="D:") 
            img(src="assets/images/1f62d.png" class="T.T") 
            img(src="assets/images/1f61c.png" class="o.0") 

        input(type="text" placeholder='Write a message...')

        a(href="#" class="send") Send a Message


    script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
    
    script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.1.0.js")
    
    script(type="text/javascript", src="assets/scripts/main.js")

